@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    --default-color: #F7EA06;
}

body{
    font-family: "Poppins", sans-serif !important;
}

.p-datatable-header {
    border-radius: 10px !important;
}

.p-datatable.p-datatable-gridlines .p-datatable-header {
    border-width: none !important;
}

.p-datatable.p-datatable-gridlines .p-datatable-header {
    border-width: none !important;
}

.layout-topbar {
    background-color: #343434 !important;
}

.dropdown-toggle::after {
    content: none;
}

.layout-menu ul a.active-route {
    font-weight: bold !important; 
    color: #343434 !important;
}

.p-checkbox.p-highlight .p-checkbox-box {
    border-color: #343434 !important;
    background: #343434 !important;
}

input:focus {
    border-color: #343434 !important;
}

.vuecal--green-theme .vuecal__title-bar {
    background-color: #000 !important;
}

.vuecal__title button {
    color: #fff !important;
}
.vuecal__header button {
    color: #fff !important;
}

.vuecal--rounded-theme.vuecal--green-theme:not(.vuecal--day-view) .vuecal__cell--today .vuecal__cell-content {
    background-color: #000 !important;
    color: #fff;
}

.vuecal--rounded-theme.vuecal--green-theme:not(.vuecal--day-view) .vuecal__cell-content {
    background-color: #fff !important; 
}

@media print {
    body * {
        visibility: hidden;
    }
    .layout-topbar, .btn-print{
        display: none;
    }
    .print, .print * {
        visibility: visible;
    }
    .print {
        left: 0;
        top: 0;
        position: absolute;
    }
}


